button {
	font-size: var(--font-size);
}

input {
	font-size: var(--font-size);
	box-sizing: border-box;
	background: transparent;
	border: none;
	outline: none;
}

label {
	font-size: var(--font-size);
}

.bg {
	display: flex;
	gap: 1px;
	min-width: 0;
}

.oriented {
	display: flex;
}

.disoriented {
	flex-direction: column;
}

@media (orientation: portrait) {
	.oriented {
		flex-direction: column;
	}

	.disoriented {
		flex-direction: row;
	}
}

.fg {
	font-family: system-ui sans-serif;
}
